<!Doctype html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link href="css/main.css" rel="stylesheet" />
  </head>

  <body>
    <!-- navigation -->
    <%- partial("../_partials/_navigation") %>

    <div class="container">
      <div class="row">
        <div class="col-xs-12 text-center">
          <h1>De line-up van <em>Planet Vintage!</em> 2016</h1>
        </div>

        <div class="line-up col-xs-12 col-md-7 col-lg-6">
          <!-- line-up -->
          <%- partial("../content/acts/_line-up-acts") %>
        </div>

        <div class="vinyl col-xs-12 col-md-5 col-lg-6">
          <!-- vinyl -->
          <%- partial("../content/acts/_line-up-vinyl") %>
        </div>
      </div>
    </div>

    <!-- footer -->
    <%- partial("../_partials/_footer") %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="js/main.js"></script>
  </body>
</html>